.dashboardsJobSchedulerStatusDot {
  display: inline-block;
  margin-right: 8px;
  transform: scale(1.5);
}

.dashboardsJobSchedulerStatusDot--disabled {
  color: $ouiColorMediumShade;
}

.dashboardsJobSchedulerStatusDot--running {
  color: $ouiColorSuccess;
}

.dashboardsJobSchedulerStatusDot--idle {
  color: $ouiColorWarning;
}
